*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: $condition-focus;
}

*:focus:not(:focus-visible) {
  outline: none;
}

*:focus-visible {
  outline: $condition-focus;
}

html {
  scrollbar-gutter: stable;
}

body {
  min-width: $default-width;
  height: 100vh;
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: $default-font;
}

.visually-hidden {
  position: absolute;

  width: 0;
  height: 0;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.grid-container {
  display: grid;
  min-height: 100%;
  margin: 0 auto;
  padding-top: 40px;

  column-gap: 40px;

  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: min-content 1fr min-content;
}

.main {
  grid-column: 1 / -1;
}

.heading,
.paragraph {
  margin: 0;
  margin-bottom: 20px;
}

.heading {
  font-family: $title-font;
}

.paragraph {
  color: #444444;
}

.field {
  font-size: inherit;
  font-family: inherit;
  color: #444444;

  border: 0;
}

.select {
  position: relative;

  padding: 0 32px 0 10px;

  font-size: inherit;
  line-height: 30px;
  font-family: inherit;

  background-image: url("../images/icons/arrow-bottom.svg");
  background-repeat: no-repeat;
  background-position: center right 12px;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;

  &:disabled {
    pointer-events: none;

    @extend %condition-active;
  }
}

.button {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  font-size: inherit;
  font-family: $title-font;
  text-align: center;
  color: $default-color;
  text-transform: uppercase;
  text-decoration: none;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &:disabled {
    @extend %input-disabled;
  }

  &:focus {
    z-index: 1;
  }

  &_yellow {
    z-index: 1;

    width: max-content;
    padding: 5px 15px;

    letter-spacing: 0.2em;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;

      width: 100%;
      height: 22%;

      background-color: #ffe17f;

      transition: height 0.2s;
    }

    &:hover::before {
      height: 100%;
    }

    &:active::before {
      background-color: #ffcc33;
    }
  }
}

.product-parameters {
  display: flex;
  flex-wrap: wrap;

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-right: 20px;
    margin-bottom: 26px;
  }

  &__title {
    font-size: 16px;
  }

  &__description {
    order: -1;
    margin: 0;
    margin-bottom: 12px;

    font-size: 36px;
  }
}

.list {
  margin-bottom: 30px;
  margin-left: 20px;

  line-height: 20px;

  @extend %list-style-none;

  &__item {
    position: relative;

    margin-bottom: 19px;
    padding-left: 34px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;

      width: 8px;
      height: 8px;
      margin: auto;

      background-color: #000000;
      border-radius: 50%;
    }
  }
}

.tooltip {
  position: relative;

  &__button {
    width: 26px;
    height: 26px;

    background-color: #ffe17f;
    background-image: url("../images/icons/tooltip-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;

    &:hover + .tooltip__text,
    &:focus + .tooltip__text {
      display: block;
    }
  }

  &__text {
    position: absolute;
    top: 100%;
    right: -35px;
    z-index: 1;

    display: none;
    width: max-content;
    max-width: 200px;
    margin-top: 10px;
    padding: 19px;

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;

    background-color: #000000;

    &::before {
      content: "";
      position: absolute;
      right: 40px;
      bottom: 100%;

      width: 14px;
      height: 6px;

      background-image: url("../images/icons/tooltip-arrow.svg");
      background-repeat: no-repeat;
    }
  }
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__link {
    position: relative;

    font-size: 16px;
    line-height: 20px;

    @extend %link-style-none;

    &:last-child {
      pointer-events: none;
    }

    &:not(:last-child) {
      margin-right: 36px;
    }

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -20px;

      width: 4px;
      height: 8px;

      background-image: url("../images/icons/arrow-right.svg");
      background-repeat: no-repeat;
      transform: translateY(-50%);
      opacity: 0.2;

      pointer-events: none;
    }

    &:hover {
      @extend %condition-hover;
    }

    &:hover::after {
      opacity: 0.3;
    }

    &:active {
      @extend %condition-active;
    }
  }
}

.card {
  display: grid;
  margin-bottom: 44px;

  column-gap: 40px;

  grid-template-columns: repeat(2, 1fr);
  row-gap: 44px;

  &__link {
    display: grid;

    @extend %link-style-none;
    grid-template-columns: 2fr 0.8fr;
    row-gap: 32px;

    &:hover .card__img {
      transform: scale(1.1);
    }

    &:hover .card__img-inner:before,
    &:hover .card__img,
    &:hover .card__title,
    &:hover .card__price {
      @extend %condition-hover;
    }

    &:hover .card__more {
      opacity: 1;
    }

    &:active .card__img-inner:before,
    &:active .card__img,
    &:active .card__title,
    &:active .card__price {
      @extend %condition-active;
    }
  }

  &__img-inner {
    position: relative;

    overflow: hidden;

    background-color: #f0f0f0;

    grid-column: 1 / -1;

    &:before {
      content: "";
      position: absolute;
      top: 27px;
      right: 27px;

      display: none;
      width: 60px;
      height: 60px;

      background-image: url("../images/icons/new.svg");
      background-repeat: no-repeat;
      transition: opacity 0.2s;
      opacity: 1;
      z-index: 1;
    }

    &_new {
      &::before {
        display: block;
      }
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;

    transition: opacity 0.2s, transform 0.2s;

    object-fit: contain;
  }

  &__more {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    height: min-content;
    margin: auto;

    opacity: 0;

    transition: opacity 0.2s;

    pointer-events: none;
  }

  &__title {
    margin-bottom: 0;
    padding-right: 20px;

    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;

    transition: opacity 0.2s;

    grid-column-start: 1;
  }

  &__price {
    line-height: 21px;
    color: #444444;

    transition: opacity 0.2s;

    grid-column-end: -1;
    justify-self: right;
  }
}
