.production {
  background-color: #f0f0f0;

  &__heading {
    width: $default-width;
    margin: 0 auto;
    padding: 35px 21px 34px 60px;
  }

  &__wrapper {
    display: grid;
    width: $default-width;
    margin: 0 auto;

    grid-template-columns: 320px 1fr;
  }

  &__title {
    margin-bottom: 16px;
    padding: 0;

    font-size: 50px;
    line-height: 50px;
  }

  &__range-scale {
    position: relative;

    width: 100%;
    height: 2px;
    margin: 0 auto 30px;

    border-bottom: 2px solid #dcdcdc;

    grid-column: 1 / -1;
  }

  &__range-bar {
    position: absolute;
    left: 0;

    width: 119px;
    height: 2px;

    border-bottom: 2px solid #000000;
  }

  &__range-wrapper {
    position: absolute;
    top: -20px;

    &_min {
      left: -9px;
    }

    &_max {
      right: -9px;
    }
  }

  &__range-toggle {
    width: 18px;
    height: 18px;
    padding: 0;

    background-color: #ebebeb;
    border: 2px solid #000000;
    border-radius: 50%;
    cursor: pointer;
  }

  &__range-price-text {
    margin-right: 5px;
  }

  &__range-price-input {
    display: none;
  }

  &__range-text {
    position: absolute;
    top: 100%;
    left: 50%;

    display: flex;
    margin-top: 5px;

    font-size: 14px;
    line-height: 20px;
    color: #a8a8a8;

    transform: translateX(-50%);
  }

  &__filter {
    padding: 25px 60px;

    grid-column-start: 1;
  }

  &__filter-heading {
    margin-bottom: 58px;

    font-size: 16px;
    line-height: 19px;
    font-family: $title-font;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }

  &__filter-inner {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 17px;
    }
  }

  &__wrapper-border {
    margin-bottom: 35px;

    border-top: 2px solid #000000;
  }

  &__filter-group {
    margin: 0;
    padding: 0;

    border: 0;
  }

  &__filter-title {
    margin-bottom: 23px;
    padding: 0;
    padding-top: 7px;

    font-weight: 700;
    color: #000000;
    letter-spacing: -0.02em;
  }

  &__filter-input {
    &:focus + .production__filter-input-2 {
      outline: $condition-focus;
    }

    &:hover + .production__filter-input-2 {
      border-color: rgb(0, 0, 0, 0.6);
    }

    &:active + .production__filter-input-2 {
      border-color: rgb(0, 0, 0, 0.3);
    }

    &:hover ~ .production__filter-text {
      color: rgb(0, 0, 0, 0.6);
    }

    &:active ~ .production__filter-text {
      color: rgb(0, 0, 0, 0.3);
    }

    &:hover + .production__filter-input-2::before {
      @extend %condition-hover;
    }

    &:active + .production__filter-input-2::before {
      @extend %condition-active;
    }

    &:disabled + .production__filter-input-2_checkbox,
    &:disabled ~ .production__filter-text {
      color: inherit;

      border-color: inherit;

      pointer-events: none;

      @extend %condition-active;
    }

    &_checkbox:checked + .production__filter-input-2_checkbox::before {
      display: block;
    }

    &_radio:checked + .production__filter-input-2_radio::before {
      display: block;
    }
  }

  &__filter-input-2 {
    position: relative;

    flex-shrink: 0;
    width: 20px;
    height: 20px;
    margin-right: 16px;

    border: 2px solid #000000;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      display: none;
      margin: auto;

      background-repeat: no-repeat;
    }

    &_checkbox {
      &:before {
        width: 10px;
        height: 10px;

        background-image: url("../images/icons/input-checkbox.svg");
      }
    }

    &_radio {
      border-radius: 50%;

      &:before {
        width: 8px;
        height: 8px;

        background-image: url("../images/icons/input-radio.svg");
      }
    }
  }

  &__filter-text {
    font-size: 16px;
    line-height: 20px;
  }

  &__filter-button {
    width: 100%;
  }

  &__inner {
    background-color: #ffffff;

    grid-column-end: -1;
  }

  &__controls {
    display: flex;
    align-items: center;
    padding: 20px 40px;

    background-color: #f0f0f0;
  }

  &__title-select {
    max-width: 400px;

    font-size: 16px;
    line-height: 19px;
    font-family: $title-font;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }

  &__select {
    width: 160px;
    margin: 0 auto;

    background-color: transparent;
    border: 0;
  }

  &__direction {
    display: flex;
    flex-shrink: 0;
  }

  &__button {
    position: relative;

    display: inline;
    width: 30px;
    height: 30px;
    padding: 0;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      margin: auto;

      background-image: url("../images/icons/arrow-top.svg");
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.2;
    }

    &_arrow-down {
      &:before {
        transform: scale(1, -1);
      }
    }

    &:hover:before {
      opacity: 0.5;
    }

    &:active:before {
      opacity: 1;
    }
  }

  &__list {
    padding: 70px 40px 0 40px;

    @extend %list-style-none;
    grid-column-end: -1;
  }

  &__load-more {
    margin-bottom: 44px;
  }
}
