.production {
  background-color: #f0f0f0;

  &__heading {
    width: $default-width;
    margin: 0 auto;
    padding: 35px 21px 34px 60px;
  }

  &__wrapper {
    display: grid;
    width: $default-width;
    margin: 0 auto;

    grid-template-columns: 320px 1fr;
  }

  &__title {
    margin-bottom: 16px;

    font-size: 50px;
    line-height: 50px;
  }

  &__filter {
    padding: 25px 60px;

    grid-column-start: 1;
  }

  &__filter-heading {
    margin-bottom: 60px;

    font-size: 16px;
    line-height: 19px;
    font-family: $title-font;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }

  &__filter-inner {
    display: block;
  }

  &__filter-group {
    position: relative;

    padding: 0;
    padding-bottom: 30px;

    border: 0;

    &::before {
      content: "";
      position: absolute;
      top: -25px;
      left: 0;

      width: 100%;
      height: 2px;

      background-color: #000000;
    }
  }

  &__filter-title {
    font-weight: 700;
    color: #000000;
    letter-spacing: -0.02em;
  }

  &__filter-button {
    width: 100%;
  }

  &__inner {
    background-color: #ffffff;

    grid-column-end: -1;
  }

  &__controls {
    display: flex;
    align-items: center;
    padding: 20px 40px;

    background-color: #f0f0f0;
  }

  &__title-select {
    max-width: 400px;

    font-size: 16px;
    line-height: 19px;
    font-family: $title-font;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }

  &__select {
    width: 160px;
    margin: 0 auto;

    background-color: transparent;
    border: 0;
  }

  &__direction {
    display: flex;
    flex-shrink: 0;
  }

  &__button {
    position: relative;

    display: inline;
    width: 30px;
    height: 30px;
    padding: 0;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      margin: auto;

      background-image: url("../images/icons/arrow-top.svg");
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.2;
    }

    &_arrow-down {
      &:before {
        transform: scale(1, -1);
      }
    }

    &:hover:before {
      opacity: 0.5;
    }

    &:active:before {
      opacity: 1;
    }
  }

  &__list {
    padding: 70px 40px 0 40px;

    @extend %list-style-none;
    grid-column-end: -1;
  }

  &__load-more {
    margin-bottom: 44px;
  }
}
