.slider {
  width: 100%;
  width: $default-width;
  margin: 0 auto;
  margin-bottom: 41px;

  &_opacity {
    opacity: 1;

    transition: opacity 0.2s;
  }

  &__count {
    position: relative;

    margin-top: -15px;
    padding-right: 48px;

    text-align: right;

    background-color: #ffe17f;
  }

  &__count-number {
    position: relative;
    bottom: -18px;

    font-weight: 700;
    font-size: 180px;
    line-height: 0.71;
    color: #ffffff;
  }

  &__inner {
    position: relative;
    top: -28px;

    display: grid;
    min-height: 440px;

    column-gap: 40px;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr repeat(5, min-content);
  }

  &__link_img {
    display: block;
  }

  &__images {
    position: relative;
    top: -25px;

    align-self: center;

    grid-column: 1;
    grid-row: 1 / span 4;
  }

  &__image {
    width: 100%;
    height: 100%;
    max-height: 425px;

    vertical-align: middle;

    object-fit: contain;
  }

  &__button-control {
    position: absolute;
    top: 50%;

    width: 20px;
    height: 60px;

    background-image: url("../images/icons/slider-arrow.svg");
    background-repeat: no-repeat;
    transform: translateY(-50%);

    &_prev {
      left: 0;
    }

    &_next {
      right: 0;

      transform: translateY(-50%) scale(-1, 1);
    }

    &:hover {
      @extend %condition-hover;
    }

    &:active {
      @extend %condition-active;
    }
  }

  &__title {
    margin-bottom: 29px;

    font-size: 50px;
    line-height: 50px;
    font-family: $title-font;

    grid-column-end: -1;
  }
  &__description {
    margin-bottom: 50px;

    grid-column-end: -1;
  }

  &__button {
    width: 100%;
    max-width: 220px;
    margin-bottom: 50px;

    grid-column-end: -1;
    justify-self: start;
  }

  &__parameters {
    grid-column-end: -1;
    justify-self: start;
  }

  &__pagination {
    display: flex;
    flex-wrap: wrap;

    @extend %list-style-none;
    grid-column: 1 / -1;
    justify-self: center;
  }

  &__pagination-item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__point {
    width: 12px;
    height: 12px;
    padding: 0;

    border: 2px solid #000000;
    border-radius: 50%;

    transition: background-color 0.4s;

    &:hover {
      @extend %condition-hover;
    }

    &:active {
      @extend %condition-active;
    }
  }

  &_current-point {
    background-color: #000000;

    pointer-events: none;
  }
}

.products {
  width: 100%;
  max-width: $default-width;
  margin: 0 auto;
  margin-bottom: 81px;

  &__list {
    display: grid;

    @extend %list-style-none;
    gap: 40px;
    grid-template-columns: repeat(6, 160px);
  }

  &__link {
    display: inline-block;

    @extend %link-style-none;

    &:hover {
      @extend %condition-hover;
    }

    &:active {
      @extend %condition-active;
    }
  }

  &__logo {
    display: inline-block;
    width: 160px;
    height: 160px;
    margin-bottom: 24px;

    background-color: #ffe17f;
    background-repeat: no-repeat;
    background-position: center;
  }

  &_virtual-reality {
    background-image: url("../images/products/icons/virtual-reality.svg");
  }

  &_monopods {
    background-image: url("../images/products/icons/monopods.svg");
    background-position-y: bottom;
  }

  &_action-cameras {
    background-image: url("../images/products/icons/action-cameras.svg");
  }

  &_fitness-bracelets {
    background-image: url("../images/products/icons/fitness-bracelets.svg");
  }

  &_smart-watches {
    background-image: url("../images/products/icons/smart-watches.svg");
  }

  &_quadrocopters {
    background-image: url("../images/products/icons/quadrocopters.svg");
  }

  &__text {
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    font-family: $title-font;
    letter-spacing: -0.02em;
  }
}

.advantages {
  position: relative;

  margin-bottom: 41px;

  &__background {
    position: absolute;

    width: 100%;
    min-height: 290px;

    background-color: #f0f0f0;
  }

  &__wrapper {
    position: relative;
    top: -101px;

    display: grid;
    width: $default-width;
    min-height: 320px;
    margin: 0 auto;

    grid-template-columns: 280px 1fr;

    &::before {
      content: "";
      position: absolute;

      width: 7px;
      height: 100%;

      background-color: #000000;

      grid-column-start: 2;
    }
  }

  &__list {
    align-self: center;

    @extend %list-style-none;
    grid-column-start: 1;
  }

  &__item {
    display: inline-block;
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 35px;
    }
  }

  &__button {
    width: 100%;
    max-width: 160px;
    padding: 0;
    overflow: hidden;

    transition: max-width 0.2s;

    &::before {
      transition: height 0.2s, opacity 0.2s 0.2s;
    }
  }

  &__button-text {
    flex-shrink: 0;
    width: 160px;
    padding: 10px 10px 10px 14px;
  }

  &_current {
    justify-content: flex-start;
    max-width: 100%;
    padding: 0;

    color: #ffe17f;

    background-color: #000000;

    &::before {
      visibility: hidden;
      opacity: 0;
    }

    &:active::before {
      background: none;
    }
  }

  &__inner {
    align-self: center;
    padding-left: 14%;

    transition: opacity 0.2s;

    grid-column-end: -1;
  }

  &__description {
    position: relative;

    max-width: 475px;

    &::after {
      content: "";
      position: absolute;
      top: 3px;
      left: 100%;

      margin-left: 17.5%;

      background-repeat: no-repeat;
    }
  }

  &_delivery {
    &::after {
      width: 136px;
      height: 165px;

      background-image: url("../images/icons/advantages/advantages-delivery.svg");
    }
  }

  &_warranty {
    &::after {
      width: 171px;
      height: 195px;

      background-image: url("../images/icons/advantages/advantages-warranty.svg");
    }
  }

  &_credit {
    &::after {
      width: 156px;
      height: 189px;

      background-image: url("../images/icons/advantages/advantages-credit.svg");
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 34px;

    font-size: 50px;
    line-height: 50px;
    font-family: $title-font;
  }

  &__text {
    margin: 0;
  }
}

.delivery {
  width: $default-width;
  margin: 0 auto 70px;

  &__link {
    position: relative;

    display: inline-block;
    width: 100%;
    padding: 41px 137px 36px 142px;

    font-size: 20px;
    line-height: 23px;
    font-family: $title-font;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;

    background-color: #f0f0f0;

    @extend %link-style-none;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 125px;
      height: 100%;

      background-color: #ffe17f;
      background-image: url("../images/icons/delivery.svg");
      background-repeat: no-repeat;
      background-position: center;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 43px;
      bottom: 0;

      width: 40px;
      height: 40px;
      margin: auto;

      background-color: #e6e6e6;
      background-image: url("../images/icons/info.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-blend-mode: overlay;
      border-radius: 50%;
    }

    &:hover::before {
      background-color: #ffc700;
    }

    &:hover::after {
      background-blend-mode: normal;
    }

    &:active {
      @extend %condition-active;
    }
  }
}

.about {
  display: grid;
  width: $default-width;
  margin: 0 auto;
  margin-bottom: 70px;

  column-gap: 97px;

  grid-template-columns: 1fr 1fr;

  &__wrapper {
    position: relative;

    padding-top: 47px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 84px;
      height: 7px;

      background-color: #000000;
    }
  }

  &__title-h2 {
    margin-bottom: 48px;

    font-size: 50px;
    line-height: 50px;
    font-family: $title-font;
  }

  &__title-h3 {
    margin-bottom: 15px;

    font-weight: 700;
    font-size: 24px;
    color: #444444;
  }

  &__text {
    margin-bottom: 30px;

    color: #444444;
  }

  &__list {
    margin-left: 3.5px;

    font-weight: 700;
    letter-spacing: -0.02em;
  }

  &__item {
    &::before {
      background-color: #ffc700;
    }
  }

  &__button {
    width: 100%;
    max-width: 270px;
  }

  &_button {
    max-width: 260px;
  }
}

.subscribe {
  background-color: #f0f0f0;

  &__wrapper {
    display: grid;
    width: $default-width;
    margin: 0 auto;
    padding: 64px 0 56px 0;

    column-gap: 4.6%;

    grid-template-columns: 1fr 1fr;
    row-gap: 124px;
  }

  &__title-h2 {
    max-width: 348px;
    padding-left: 8px;

    font-size: 50px;
    line-height: 50px;

    grid-column-start: 1;
  }

  &__text {
    padding-top: 10px;

    grid-column-end: -1;
  }

  &__form {
    position: relative;

    display: flex;
    max-width: 810px;

    grid-column: 1 / -1;
    grid-row-start: 2;
  }

  &__error-text {
    position: absolute;
    top: 100%;

    display: none;

    font-size: 14px;
    line-height: 20px;
    color: #ff3d3d;
  }

  &_error-open {
    display: block;
  }

  &__label {
    position: relative;
    z-index: 1;

    flex-grow: 1;
  }

  &__input {
    width: 100%;
    height: 100%;
    padding: 11px 16px 14px 16px;

    font-size: inherit;

    border-bottom: 3px solid #c4c4c4;

    &:focus {
      z-index: 1;

      background-color: #dcdcdc;
      outline: $condition-focus;
    }

    &:disabled {
      @extend %condition-active;
    }
  }

  &_error {
    border-bottom: 3px solid #ff3d3d;
  }

  &__button {
    width: 253px;
    padding: 15px 10px 15px 15px;

    line-height: 21px;
    letter-spacing: 0.2em;

    border: 3px solid #c4c4c4;

    &:hover,
    &:active {
      color: #ffffff;

      background-color: #000000;
      border-color: #000000;
    }

    &:active {
      color: rgba($color: #ffffff, $alpha: 0.3);
    }

    &:disabled {
      pointer-events: none;

      @extend %condition-active;
    }
  }

  &__free {
    position: relative;

    align-self: center;
    max-width: 250px;
    margin-left: 20px;
    padding-left: 32px;

    color: #444444;

    grid-column-end: -1;
    grid-row-start: 2;
    justify-self: end;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;

      width: 15px;
      height: 14px;
      margin: auto;

      background-image: url("../images/icons/status-success.svg");
      background-repeat: no-repeat;
    }
  }
}
