$input-placeholder: rgba(
  $color: #000000,
  $alpha: 0.3,
);
$body-color: #000000;
$condition-focus: 2px solid #af4fff; // фокусная линия

%condition-hover {
  opacity: 0.6;
}

%condition-active {
  opacity: 0.3;
}

%input-disabled {
  pointer-events: none;

  @extend %condition-active;
}

%list-style-none {
  margin: 0;
  padding: 0;

  list-style: none;
}

%link-style-none {
  color: #000000;
  text-decoration: none;
}

.field {
  font-family: inherit;
  font-size: inherit;
  color: #444444;
  border: 0;
}

.button {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  font-size: inherit;
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &_yellow {
    z-index: 1;
    width: max-content;
    padding: 5px 15px;

    letter-spacing: 0.2em;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;

      width: 100%;
      height: 22%;

      background-color: #ffe17f;

      transition: height 0.2s;
    }

    &:hover::before {
      height: 100%;
    }

    &:active::before {
      background-color: #ffcc33;
    }
  }
}

.product-parameters {
  display: flex;
  flex-wrap: wrap;

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-right: 20px;
    margin-bottom: 26px;
  }

  &__title {
    font-size: 16px;
  }

  &__description {
    order: -1;
    margin: 0;
    margin-bottom: 12px;

    font-size: 36px;
  }
}

.list {
  @extend %list-style-none;
  margin-left: 20px;
  margin-bottom: 30px;
  line-height: 20px;

  &__item {
    margin-bottom: 19px;
    position: relative;
    padding-left: 34px;

    &::before {
      border-radius: 50%;
      content: "";
      background-color: #000000;
      width: 8px;
      height: 8px;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
}

.tooltip {
  position: relative;

  &__button {
    width: 26px;
    height: 26px;
    background-color: #ffe17f;
    border-radius: 50%;
    background-image: url("../images/icons/tooltip-icon.svg");
    background-repeat: no-repeat;
    background-position: center;

    &:hover + .tooltip__text,
    &:focus + .tooltip__text {
      display: block;
    }
  }

  &__text {
    display: none;
    position: absolute;
    top: 100%;
    right: -35px;
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    padding: 19px;
    max-width: 200px;
    width: max-content;
    z-index: 1;
    margin-top: 10px;

    &::before {
      content: "";
      position: absolute;
      width: 14px;
      height: 6px;
      bottom: 100%;
      right: 40px;
      background-image: url("../images/icons/tooltip-arrow.svg");
      background-repeat: no-repeat;
    }
  }
}

@import "fonts";
@import "general";
@import "header";
@import "main-index";
@import "footer";
@import "modal";
