$input-placeholder: rgba(
  $color: #000000,
  $alpha: 0.3,
);
$body-color: #000000;
$condition-focus: 2px solid #af4fff; // фокусная линия

%condition-hover {
  opacity: 0.6;
}

%condition-active {
  opacity: 0.3;
}

%input-disabled {
  pointer-events: none;

  @extend %condition-active;
}

%list-style-none {
  margin: 0;
  padding: 0;

  list-style: none;
}

%link-style-none {
  color: #000000;
  text-decoration: none;
}

.field {
  font-family: inherit;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  font-family: "Raleway", sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

@import "fonts";
@import "general";
@import "header";
@import "main-index";
@import "footer";
