.phone-number:hover, .footer__logo-link:hover, .nav-info__link:hover, .catalog__link:hover, .header__basket-close-button:hover, .header__basket-link:hover, .header__logo-link:hover, .user-nav-link:hover {
  opacity: 0.6;
}

.copyright__svg:active, .phone-number:active, .social-link:active::before, .footer__logo-link:active, .nav-info__link:active, .catalog__link:active, .header__basket-close-button:active, .header__basket-link:active, .header__logo-link:active, .user-nav-link:active, .header__search-button:disabled, .header__search-input:disabled + .header__search-form__icon, .header__search-input:disabled {
  opacity: 0.3;
}

.header__search-button:disabled, .header__search-input:disabled + .header__search-form__icon, .header__search-input:disabled {
  pointer-events: none;
}

.social-list, .nav-info__list, .catalog__list, .header__basket-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.phone-number, .nav-info__link, .catalog__link {
  color: #000000;
  text-decoration: none;
}

.field {
  font-family: inherit;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: "Raleway", sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Rubik";
  font-display: swap;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Rubik";
  font-display: swap;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
}
@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: "Rubik", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.grid-container {
  display: grid;
  min-height: 100%;
  margin: 0 auto;
  padding-top: 40px;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
}

.user-nav-link {
  position: relative;
  display: inline-block;
  padding: 8px 0px 8px 26px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
}
.user-nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-repeat: no-repeat;
}
.user-signin-link::before {
  width: 13px;
  height: 12px;
  background-image: url("../images/icons/user.svg");
}

.user-compare-link::before {
  width: 10px;
  height: 12px;
  background-image: url("../images/icons/compare.svg");
}

.user-basket-link::before {
  width: 16px;
  height: 14px;
  background-image: url("../images/icons/basket.svg");
}

.header {
  max-width: 1160px;
  position: relative;
  margin: 0 auto;
  display: grid;
  padding: 46px 60px 0 60px;
  -webkit-column-gap: 26px;
     -moz-column-gap: 26px;
          column-gap: 26px;
  background-color: #ffe17f;
  grid-column: 1/-1;
  grid-template-columns: 1.047fr 1fr;
  row-gap: 30px;
}
.header__logo-link {
  position: absolute;
  top: -20px;
  left: 60px;
}
.header__search-form {
  display: flex;
  flex-shrink: 0;
  max-width: 519px;
  overflow: hidden;
  grid-column-start: 1;
}
.header__search-title {
  position: relative;
}
.header__search-input {
  width: 359px;
  height: 100%;
  padding: 9px 10px 8px 48px;
  font-size: 16px;
  line-height: 21px;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
}
.header__search-input:focus {
  z-index: 1;
  border: 2px solid #af4fff;
  outline: none;
}
.header__search-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.header__search-input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.header__search-input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.header__search-input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.header__search-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.header__search-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 16px;
  width: 16px;
  height: 16px;
  margin: auto;
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  pointer-events: none;
}
.header__search-button {
  position: relative;
  left: -2px;
  width: 160px;
  padding: 7px 10px;
  font-size: 16px;
  line-height: 21px;
  font-family: "Rubik", sans-serif;
  text-transform: none;
  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
}
.header__search-button:hover {
  color: #ffffff;
  background-color: #000000;
}
.header__search-button:focus {
  border: 2px solid #af4fff;
  outline: none;
}
.header__search-button:active {
  color: rgba(255, 255, 255, 0.3);
}
.header__search-button:disabled {
  color: #000000;
  background-color: transparent;
}
.header__user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  width: 100%;
  grid-column-end: -1;
}
.header__user-item:not(:first-child) {
  margin-left: 36px;
}
.header__product-item:not(:first-child) {
  margin-left: 36px;
}
.header__user-item + .header__product-item {
  margin-left: auto;
}
.header__product-item {
  position: relative;
}
.header__basket-count {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -16px;
  width: 21px;
  height: 21px;
  margin: auto;
  padding: 3px 0;
  overflow: hidden;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 50%;
}
.header__basket-container {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  display: none;
  width: 320px;
  margin-top: 10px;
  padding: 20px;
  background-color: #000000;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
.header__basket-container::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 14px;
  height: 6px;
  background-image: url("../images/icons/popover-arrow.svg");
  background-repeat: no-repeat;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
.header_basket-open {
  display: block;
}
.header__basket-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.header__basket-link {
  display: flex;
}
.header__basket-thumb {
  margin-right: 23px;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__basket-title {
  margin: 0;
  margin-right: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.header__basket-close-button {
  position: relative;
  top: 0;
  right: 0;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  padding: 0;
  background-color: transparent;
  background-image: url("../images/icons/basket-close-button.svg");
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
}
.header__basket-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.header__basket-open-button {
  padding: 16px 10px 13px 10px;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
}
.header__basket-open-button:hover {
  background-color: #ffe17f;
}
.header__basket-open-button:active {
  color: rgba(0, 0, 0, 0.3);
}
.header__catalog {
  grid-column: 1;
}
.header__info-navigation {
  grid-column-end: -1;
}

.catalog {
  z-index: 1;
  justify-self: start;
}
.catalog__button {
  z-index: 1;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
}
.catalog__button::after {
  content: "";
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  margin-left: 17px;
  background-image: url("../images/icons/catalog-plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.3;
}
.catalog__button:hover::after {
  opacity: 1;
}
.catalog_minus::after {
  background-image: url("../images/icons/catalog-minus.svg");
}
.catalog__list {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  max-height: 170px;
  padding: 15px 60px 38px 60px;
  font-size: 16px;
  line-height: 18px;
  background-color: #ffe17f;
}
.catalog_open {
  display: flex;
}
.catalog__item {
  max-width: 252px;
  width: 100%;
}
.catalog__link {
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 18px;
}
.nav-info__list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 100%;
  padding-left: 25px;
}
.nav-info__item:not(:last-child) {
  margin-right: 43px;
}
.nav-info__link {
  display: inline-block;
  padding: 10px 0px;
  line-height: 21px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.main {
  grid-column: 1/-1;
  max-width: 1160px;
  margin: 0 auto;
  width: 100%;
}

.footer {
  padding: 62px 3% 65px 3%;
  background-color: #444444;
  grid-column: 1/-1;
  grid-row-end: -1;
}
.footer__inner {
  display: grid;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  grid-template-columns: 239px 1fr minmax(300px, 444px) 1.54fr 175px;
}
.footer__contacts-wrapper {
  position: relative;
}
.footer__contacts-wrapper::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: #ffc700;
}
.footer__logo-link {
  display: inline-block;
  margin-bottom: 35px;
}
.footer__address {
  margin-bottom: 64px;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.footer__info-wrapper {
  align-self: end;
  grid-column-start: 3;
}
.footer__info-navigation {
  margin-bottom: 62px;
}
.footer_nav-info_list {
  justify-content: center;
  padding-left: 0;
}
.footer_nav-info_margin:not(:last-child) {
  margin-right: 35px;
}
.footer_nav-info_link {
  color: #ffffff;
  letter-spacing: 0.15em;
}
.footer__phone-wrapper {
  display: flex;
  flex-direction: column;
  align-self: end;
  grid-column-end: -1;
}
.footer__phone {
  margin-bottom: 63px;
  color: #ffffff;
}
.footer__copyright {
  align-self: flex-end;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 12px;
}
.social-item:not(:last-child) {
  margin-right: 15px;
}
.social-link {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}
.social-link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-repeat: no-repeat;
}
.social-link:hover {
  background-color: #ffc700;
}
.social-link_telegram::before {
  width: 14px;
  height: 12px;
  background-image: url("../images/icons/social-telegram.svg");
}
.social-link_youtube::before {
  width: 16px;
  height: 11px;
  background-image: url("../images/icons/social-youtube.svg");
}
.social-link_twitter::before {
  width: 15px;
  height: 15px;
  background-image: url("../images/icons/social-twitter.svg");
}

.phone-number {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
}
.copyright__svg {
  fill: #ffc700;
}
.copyright__svg:hover {
  fill: #ffffff;
}