.modal__button-input:hover, .modal__close-button:hover, .phone-number:hover, .footer__logo-link:hover, .products__link:hover, .slider__point:hover, .slider__button-control:hover, .nav-info__link:hover, .catalog__link:hover, .header__basket-close-button:hover, .header__basket-link:hover, .header__logo-link:hover, .user-nav-link:hover {
  opacity: 0.6;
}

.modal__button-input:active, .modal__input:disabled, .modal__close-button:active, .phone-number:active, .social-link:active::before, .footer__logo-link:active, .copyright__svg:active, .subscribe__button:disabled, .subscribe__input:disabled, .delivery__link:active, .products__link:active, .slider__point:active, .slider__button-control:active, .nav-info__link:active, .catalog__link:active, .header__basket-close-button:active, .header__basket-link:active, .header__logo-link:active, .user-nav-link:active, .header__search-button:disabled, .header__search-input:disabled + .header__search-form__icon, .header__search-input:disabled, .button:disabled {
  opacity: 0.3;
}

.header__search-button:disabled, .header__search-input:disabled + .header__search-form__icon, .header__search-input:disabled, .button:disabled {
  pointer-events: none;
}

.social-list, .advantages__list, .products__list, .slider__pagination, .nav-info__list, .catalog__list, .header__basket-list, .list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.phone-number, .delivery__link, .products__link, .nav-info__link, .catalog__link, .header__basket-link {
  color: #000000;
  text-decoration: none;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Rubik";
  font-display: swap;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Rubik";
  font-display: swap;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
}
@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: 2px solid #af4fff;
}

*:focus:not(:focus-visible) {
  outline: none;
}

*:focus-visible {
  outline: 2px solid #af4fff;
}

html {
  scrollbar-gutter: stable;
}

body {
  min-width: 1160px;
  height: 100vh;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: "Rubik", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 0;
  height: 0;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.grid-container {
  display: grid;
  min-height: 100%;
  margin: 0 auto;
  padding-top: 40px;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
}

.main {
  grid-column: 1/-1;
}

.heading,
.paragraph {
  margin: 0;
  margin-bottom: 20px;
}

.heading {
  font-family: "Raleway", sans-serif;
}

.paragraph {
  color: #444444;
}

.field {
  font-size: inherit;
  font-family: inherit;
  color: #444444;
  border: 0;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: inherit;
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.button:focus {
  z-index: 1;
}
.button_yellow {
  z-index: 1;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 5px 15px;
  letter-spacing: 0.2em;
}
.button_yellow::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 22%;
  background-color: #ffe17f;
  transition: height 0.2s;
}
.button_yellow:hover::before {
  height: 100%;
}
.button_yellow:active::before {
  background-color: #ffcc33;
}

.product-parameters {
  display: flex;
  flex-wrap: wrap;
}
.product-parameters__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-right: 20px;
  margin-bottom: 26px;
}
.product-parameters__title {
  font-size: 16px;
}
.product-parameters__description {
  order: -1;
  margin: 0;
  margin-bottom: 12px;
  font-size: 36px;
}

.list {
  margin-bottom: 30px;
  margin-left: 20px;
  line-height: 20px;
}
.list__item {
  position: relative;
  margin-bottom: 19px;
  padding-left: 34px;
}
.list__item::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 8px;
  height: 8px;
  margin: auto;
  background-color: #000000;
  border-radius: 50%;
}

.tooltip {
  position: relative;
}
.tooltip__button {
  width: 26px;
  height: 26px;
  background-color: #ffe17f;
  background-image: url("../images/icons/tooltip-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}
.tooltip__button:focus {
  outline: 2px solid #af4fff;
}
.tooltip__button:hover + .tooltip__text, .tooltip__button:focus + .tooltip__text {
  display: block;
}
.tooltip__text {
  position: absolute;
  top: 100%;
  right: -35px;
  z-index: 1;
  display: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 200px;
  margin-top: 10px;
  padding: 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #000000;
}
.tooltip__text::before {
  content: "";
  position: absolute;
  right: 40px;
  bottom: 100%;
  width: 14px;
  height: 6px;
  background-image: url("../images/icons/tooltip-arrow.svg");
  background-repeat: no-repeat;
}

.user-nav-link {
  position: relative;
  display: inline-block;
  padding: 8px 0 8px 26px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
}
.user-nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-repeat: no-repeat;
}
.user-signin-link::before {
  width: 13px;
  height: 12px;
  background-image: url("../images/icons/user.svg");
}

.user-compare-link::before {
  width: 10px;
  height: 12px;
  background-image: url("../images/icons/compare.svg");
}

.user-basket-link::before {
  width: 16px;
  height: 14px;
  background-image: url("../images/icons/basket.svg");
}

.header {
  position: relative;
  display: grid;
  width: 1160px;
  margin: 0 auto;
  padding: 46px 60px 0 60px;
  -webkit-column-gap: 26px;
     -moz-column-gap: 26px;
          column-gap: 26px;
  background-color: #ffe17f;
  grid-column: 1/-1;
  grid-template-columns: 1.047fr 1fr;
  row-gap: 30px;
}
.header__logo-link {
  position: absolute;
  top: -20px;
  left: 60px;
}
.header__search-form {
  display: flex;
  flex-shrink: 0;
  max-width: 519px;
  overflow: hidden;
  grid-column-start: 1;
}
.header__search-title {
  position: relative;
}
.header__search-input {
  width: 359px;
  height: 100%;
  padding: 9px 10px 8px 48px;
  font-size: 16px;
  line-height: 21px;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
}
.header__search-input:focus {
  z-index: 1;
  border: 2px solid #af4fff;
  outline: none;
}
.header__search-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.header__search-input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.header__search-input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.header__search-input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.header__search-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.header__search-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 16px;
  width: 16px;
  height: 16px;
  margin: auto;
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  pointer-events: none;
}
.header__search-button {
  position: relative;
  left: -2px;
  width: 160px;
  padding: 7px 10px;
  font-size: 16px;
  line-height: 21px;
  font-family: inherit;
  text-transform: none;
  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
}
.header__search-button:hover {
  color: #ffffff;
  background-color: #000000;
}
.header__search-button:focus {
  border: 2px solid #af4fff;
  outline: none;
}
.header__search-button:active {
  color: rgba(255, 255, 255, 0.3);
}
.header__search-button:disabled {
  color: #000000;
  background-color: transparent;
}
.header__user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  width: 100%;
  grid-column-end: -1;
}
.header__user-item:not(:first-child) {
  margin-left: 36px;
}
.header__product-item:not(:first-child) {
  margin-left: 36px;
}
.header__user-item + .header__product-item {
  margin-left: auto;
}
.header__product-item {
  position: relative;
}
.header__basket-count {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -16px;
  width: 21px;
  height: 21px;
  margin: auto;
  padding: 3px 0;
  overflow: hidden;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 50%;
}
.header__basket-container {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  display: none;
  width: 320px;
  margin-top: 10px;
  padding: 20px;
  background-color: #000000;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
.header__basket-container::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 14px;
  height: 6px;
  background-image: url("../images/icons/popover-arrow.svg");
  background-repeat: no-repeat;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
.header_basket-open {
  display: block;
}
.header__basket-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.header__basket-link {
  display: flex;
}
.header__basket-thumb {
  margin-right: 23px;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__basket-title {
  margin: 0;
  margin-right: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.header__basket-close-button {
  position: relative;
  top: 0;
  right: 0;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  padding: 0;
  background-color: transparent;
  background-image: url("../images/icons/basket-close-button.svg");
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
}
.header__basket-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.header__basket-open-button {
  padding: 16px 10px 13px 10px;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
}
.header__basket-open-button:hover {
  background-color: #ffe17f;
}
.header__basket-open-button:active {
  color: rgba(0, 0, 0, 0.3);
}
.header__catalog {
  grid-column: 1;
}
.header__info-navigation {
  grid-column-end: -1;
}

.catalog {
  z-index: 1;
  justify-self: start;
}
.catalog__button {
  z-index: 1;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
}
.catalog__button::after {
  content: "";
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  margin-left: 17px;
  background-image: url("../images/icons/catalog-plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.3;
}
.catalog__button:hover::after {
  opacity: 1;
}
.catalog_minus::after {
  background-image: url("../images/icons/catalog-minus.svg");
}
.catalog__list {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  max-height: 170px;
  padding: 15px 60px 38px 60px;
  font-size: 16px;
  line-height: 18px;
  background-color: #ffe17f;
}
.catalog_open {
  display: flex;
}
.catalog__item {
  width: 100%;
  max-width: 252px;
}
.catalog__link {
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 18px;
}
.nav-info__list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 100%;
  padding-left: 25px;
}
.nav-info__item:not(:last-child) {
  margin-right: 43px;
}
.nav-info__link {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 10px 0;
  line-height: 21px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.slider {
  width: 100%;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 41px;
}
.slider_opacity {
  opacity: 1;
  transition: opacity 0.2s;
}
.slider__count {
  position: relative;
  padding-right: 48px;
  text-align: right;
  background-color: #ffe17f;
}
.slider__count-number {
  position: relative;
  bottom: -18px;
  font-weight: 700;
  font-size: 180px;
  line-height: 0.71;
  color: #ffffff;
}
.slider__inner {
  position: relative;
  top: -28px;
  display: grid;
  min-height: 440px;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr repeat(5, -webkit-min-content);
  grid-template-rows: 1fr repeat(5, min-content);
}
.slider__images {
  position: relative;
  top: -25px;
  align-self: center;
  grid-column: 1;
  grid-row: 1/span 4;
}
.slider__image {
  width: 100%;
  height: 100%;
  max-height: 425px;
  vertical-align: middle;
  -o-object-fit: contain;
     object-fit: contain;
}
.slider__buttons {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.slider__button-control {
  width: 20px;
  height: 60px;
  background-image: url("../images/icons/slider-arrow.svg");
  background-repeat: no-repeat;
}
.slider_next {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}
.slider__title {
  margin-bottom: 29px;
  font-size: 50px;
  line-height: 50px;
  font-family: "Raleway", sans-serif;
  grid-column-end: -1;
}
.slider__description {
  margin-bottom: 50px;
  grid-column-end: -1;
}
.slider__button {
  width: 100%;
  max-width: 220px;
  margin-bottom: 50px;
  grid-column-end: -1;
  justify-self: start;
}
.slider__parameters {
  grid-column-end: -1;
  justify-self: start;
}
.slider__pagination {
  display: flex;
  flex-wrap: wrap;
  grid-column: 1/-1;
  justify-self: center;
}
.slider__pagination-item:not(:last-child) {
  margin-right: 20px;
}
.slider__point {
  width: 12px;
  height: 12px;
  padding: 0;
  border: 2px solid #000000;
  border-radius: 50%;
}
.slider_current-point {
  background-color: #000000;
  pointer-events: none;
}

.products {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 81px;
}
.products__list {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(6, 160px);
}
.products__link {
  display: inline-block;
}
.products__logo {
  display: inline-block;
  width: 160px;
  height: 160px;
  margin-bottom: 24px;
  background-color: #ffe17f;
  background-repeat: no-repeat;
  background-position: center;
}
.products_virtual-reality {
  background-image: url("../images/products/icons/virtual-reality.svg");
}
.products_monopods {
  background-image: url("../images/products/icons/monopods.svg");
  background-position-y: bottom;
}
.products_action-cameras {
  background-image: url("../images/products/icons/action-cameras.svg");
}
.products_fitness-bracelets {
  background-image: url("../images/products/icons/fitness-bracelets.svg");
}
.products_smart-watches {
  background-image: url("../images/products/icons/smart-watches.svg");
}
.products_quadrocopters {
  background-image: url("../images/products/icons/quadrocopters.svg");
}
.products__text {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Raleway", sans-serif;
  letter-spacing: -0.02em;
}

.advantages {
  position: relative;
  margin-bottom: 41px;
}
.advantages__background {
  position: absolute;
  width: 100%;
  min-height: 290px;
  background-color: #f0f0f0;
}
.advantages__wrapper {
  position: relative;
  top: -101px;
  display: grid;
  width: 1160px;
  min-height: 320px;
  margin: 0 auto;
  grid-template-columns: 280px 1fr;
}
.advantages__wrapper::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 100%;
  background-color: #000000;
  grid-column-start: 2;
}
.advantages__list {
  align-self: center;
  grid-column-start: 1;
}
.advantages__item {
  display: inline-block;
  width: 100%;
}
.advantages__item:not(:last-child) {
  margin-bottom: 35px;
}
.advantages__button {
  width: 100%;
  max-width: 160px;
  padding: 0;
  overflow: hidden;
  transition: max-width 0.2s;
}
.advantages__button::before {
  transition: height 0.2s, opacity 0.2s 0.2s;
}
.advantages__button-text {
  flex-shrink: 0;
  width: 160px;
  padding: 10px 10px 10px 14px;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.advantages_current {
  justify-content: flex-start;
  max-width: 100%;
  padding: 0;
  color: #ffe17f;
  background-color: #000000;
}
.advantages_current::before {
  visibility: hidden;
  opacity: 0;
}
.advantages_current:hover .advantages__button-text {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}
.advantages_current:active::before {
  background: none;
}
.advantages__inner {
  align-self: center;
  padding-left: 14%;
  grid-column-end: -1;
}
.advantages__description {
  position: relative;
  max-width: 475px;
}
.advantages__description::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 100%;
  margin-left: 17.5%;
  background-repeat: no-repeat;
}
.advantages_delivery::after {
  width: 136px;
  height: 165px;
  background-image: url("../images/icons/advantages/advantages-delivery.svg");
}
.advantages_warranty::after {
  width: 171px;
  height: 195px;
  background-image: url("../images/icons/advantages/advantages-warranty.svg");
}
.advantages_credit::after {
  width: 156px;
  height: 189px;
  background-image: url("../images/icons/advantages/advantages-credit.svg");
}
.advantages__title {
  margin: 0;
  margin-bottom: 34px;
  font-size: 50px;
  line-height: 50px;
  font-family: "Raleway", sans-serif;
}
.advantages__text {
  margin: 0;
}

.delivery {
  width: 1160px;
  margin: 0 auto 70px;
}
.delivery__link {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 41px 137px 36px 142px;
  font-size: 20px;
  line-height: 23px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: #f0f0f0;
}
.delivery__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: 100%;
  background-color: #ffe17f;
  background-image: url("../images/icons/delivery.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.delivery__link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 43px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto;
  background-color: #e6e6e6;
  background-image: url("../images/icons/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
  border-radius: 50%;
}
.delivery__link:hover::before {
  background-color: #ffc700;
}
.delivery__link:hover::after {
  background-blend-mode: normal;
}
.about {
  display: grid;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
  -webkit-column-gap: 97px;
     -moz-column-gap: 97px;
          column-gap: 97px;
  grid-template-columns: 1fr 1fr;
}
.about__wrapper {
  position: relative;
  padding-top: 47px;
}
.about__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 84px;
  height: 7px;
  background-color: #000000;
}
.about__title-h2 {
  margin-bottom: 48px;
  font-size: 50px;
  line-height: 50px;
  font-family: "Raleway", sans-serif;
}
.about__title-h3 {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  color: #444444;
}
.about__text {
  margin-bottom: 30px;
  color: #444444;
}
.about__list {
  margin-left: 3.5px;
  font-weight: 700;
  letter-spacing: -0.02em;
}
.about__item::before {
  background-color: #ffc700;
}
.about__button {
  width: 100%;
  max-width: 270px;
}
.about_button {
  max-width: 260px;
}

.subscribe {
  background-color: #f0f0f0;
}
.subscribe__wrapper {
  display: grid;
  width: 1160px;
  margin: 0 auto;
  padding: 64px 0 56px 0;
  -webkit-column-gap: 4.6%;
     -moz-column-gap: 4.6%;
          column-gap: 4.6%;
  grid-template-columns: 1fr 1fr;
  row-gap: 124px;
}
.subscribe__title-h2 {
  max-width: 348px;
  padding-left: 8px;
  font-size: 50px;
  line-height: 50px;
  grid-column-start: 1;
}
.subscribe__text {
  padding-top: 10px;
  grid-column-end: -1;
}
.subscribe__form {
  position: relative;
  display: flex;
  max-width: 810px;
  grid-column: 1/-1;
  grid-row-start: 2;
}
.subscribe__error-text {
  position: absolute;
  top: 100%;
  display: none;
  font-size: 14px;
  line-height: 20px;
  color: #ff3d3d;
}
.subscribe_error-open {
  display: block;
}
.subscribe__label {
  position: relative;
  z-index: 1;
  flex-grow: 1;
}
.subscribe__input {
  width: 100%;
  height: 100%;
  padding: 11px 16px 14px 16px;
  font-size: inherit;
  border-bottom: 3px solid #c4c4c4;
}
.subscribe__input:focus {
  z-index: 1;
  background-color: #dcdcdc;
  outline: 2px solid #af4fff;
}
.subscribe_error {
  border-bottom: 3px solid #ff3d3d;
}
.subscribe__button {
  width: 253px;
  padding: 15px 10px 15px 15px;
  line-height: 21px;
  letter-spacing: 0.2em;
  border: 3px solid #c4c4c4;
}
.subscribe__button:hover, .subscribe__button:active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.subscribe__button:active {
  color: rgba(255, 255, 255, 0.3);
}
.subscribe__button:disabled {
  pointer-events: none;
}
.subscribe__free {
  position: relative;
  align-self: center;
  max-width: 250px;
  margin-left: 20px;
  padding-left: 32px;
  color: #444444;
  grid-column-end: -1;
  grid-row-start: 2;
  justify-self: end;
}
.subscribe__free::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
  height: 14px;
  margin: auto;
  background-image: url("../images/icons/status-success.svg");
  background-repeat: no-repeat;
}

.copyright__svg {
  vertical-align: middle;
  fill: #000000;
}
.copyright__svg:hover {
  fill: #ffffff;
}
.footer {
  padding: 62px 3% 55px 3%;
  background-color: #444444;
  grid-column: 1/-1;
  grid-row-end: -1;
}
.footer__inner {
  display: grid;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  grid-template-columns: 239px 1fr minmax(300px, 444px) 1.54fr 175px;
}
.footer__contacts {
  position: relative;
  margin-bottom: 32px;
}
.footer__contacts::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: #ffc700;
}
.footer__logo-link {
  display: inline-block;
  margin-bottom: 26px;
}
.footer__address {
  margin-bottom: 64px;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.footer__info-wrapper {
  align-self: end;
  grid-column-start: 3;
}
.footer__info-navigation {
  margin-bottom: 50px;
}
.footer_nav-info_list {
  justify-content: center;
  padding-left: 0;
}
.footer_nav-info_margin:not(:last-child) {
  margin-right: 30px;
}
.footer_nav-info_link {
  color: #ffffff;
}
.footer__phone-wrapper {
  display: flex;
  flex-direction: column;
  align-self: end;
  grid-column-end: -1;
}
.footer__phone {
  margin-bottom: 63px;
  color: #ffffff;
}
.footer__copyright {
  align-self: flex-end;
  margin-bottom: 12px;
}
.footer_copyright-svg {
  fill: #ffc700;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 12px;
}
.social-item {
  margin-bottom: 10px;
}
.social-item:not(:last-child) {
  margin-right: 15px;
}
.social-link {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}
.social-link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-repeat: no-repeat;
}
.social-link:hover {
  background-color: #ffc700;
}
.social-link_telegram::before {
  width: 14px;
  height: 12px;
  background-image: url("../images/icons/social-telegram.svg");
}
.social-link_youtube::before {
  width: 16px;
  height: 11px;
  background-image: url("../images/icons/social-youtube.svg");
}
.social-link_twitter::before {
  width: 15px;
  height: 15px;
  background-image: url("../images/icons/social-twitter.svg");
}

.phone-number {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  text-decoration: underline;
}
.modal {
  width: 100%;
  max-width: 920px;
  padding: 0;
  border: none;
}
.modal__wrapper {
  display: grid;
  padding: 63px 70px;
  border: 10px solid #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  grid-template-columns: 1fr auto;
  row-gap: 37px;
}
.modal::-webkit-backdrop {
  background-color: rgba(240, 240, 240, 0.9);
}
.modal::backdrop {
  background-color: rgba(240, 240, 240, 0.9);
}
.modal__wrapper-tooltip {
  grid-column: 4;
}
.modal__inner-tooltip {
  position: relative;
  display: inline-block;
  margin-bottom: 7px;
}
.modal__title {
  margin: 0;
  padding-right: 10px;
  font-size: 50px;
  line-height: 1;
  grid-column-start: 1;
}
.modal__close-button {
  box-sizing: content-box;
  width: 26px;
  height: 26px;
  margin-top: 10px;
  padding: 2px;
  background-image: url("../images/icons/close-modal.svg");
  background-repeat: no-repeat;
  background-position: center;
  grid-column-end: -1;
}
.modal__form {
  display: grid;
  -webkit-column-gap: 42px;
     -moz-column-gap: 42px;
          column-gap: 42px;
  grid-column: 1/-1;
  grid-template-columns: repeat(2, 1fr) 0.85fr 180px;
  row-gap: 38px;
}
.modal__input-title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.modal__input-title_margin {
  margin-bottom: 20px;
}
.modal__input-title_name {
  grid-column: 1/span 2;
}
.modal__input-title_email {
  grid-column: 3/-1;
}
.modal__input-title_comment {
  grid-column: 1/span 3;
}
.modal__input-title_error {
  color: #ff3d3d;
}
.modal__input-title_error .modal__input {
  outline: 2px solid #ff3d3d;
}
.modal__input-title_error .modal__info_error-text {
  display: block;
}
.modal__input-title_display {
  display: inline;
}
.modal__inner-input {
  display: grid;
  grid-template-columns: repeat(3, 60px);
}
.modal__inner-input::after {
  content: "";
  position: absolute;
  top: 0;
  right: 21px;
  bottom: 0;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
}
.modal__inner-input_name::after {
  width: 13px;
  height: 12px;
  background-image: url("../images/icons/input-name.svg");
}
.modal__inner-input_email::after {
  width: 15px;
  height: 12px;
  background-image: url("../images/icons/input-email.svg");
}
.modal__input-text {
  position: relative;
  margin-bottom: 7px;
  font-weight: 700;
  color: #000000;
  letter-spacing: -0.02em;
}
.modal__input {
  width: 100%;
  padding: 20px 50px 20px 20px;
  color: #000000;
  background-color: #f0f0f0;
}
.modal__input_number {
  padding-right: 60px;
  padding-left: 60px;
  text-align: center;
  -moz-appearance: textfield;
  grid-column: 1/-1;
  grid-row-start: 1;
}
.modal__input_number::-webkit-outer-spin-button, .modal__input_number::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.modal__input:hover {
  background-color: #dcdcdc;
}
.modal__input:focus {
  outline: 2px solid #af4fff;
}
.modal__input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.modal__input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.modal__input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.modal__input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.modal__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.modal__info {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  font-size: 14px;
}
.modal__info_show {
  display: block;
}
.modal__button-submit {
  padding: 10px 30px;
  grid-column: 1/-1;
}
.modal__tooltip {
  position: absolute;
  margin-top: 2px;
  margin-left: 10px;
}
.modal__button-input {
  background-repeat: no-repeat;
  background-position: center;
  grid-row-start: 1;
}
.modal__button-input:hover ~ .field {
  background-color: #dcdcdc;
}
.modal__button-input_minus {
  background-image: url("../images/icons/input-minus.svg");
  grid-column-start: 1;
}
.modal__button-input_plus {
  background-image: url("../images/icons/input-plus.svg");
  grid-column-start: 3;
}